<!DOCTYPE html>
<html>
  <head>
    <title>ReFormer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <H1>DoggieEventSpace</H1><span>- the place where dogs come to party -</span></><br>
    <iframe width="270" height="160" src="https://www.youtube.com/embed/7JTEsOzvmdo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="270" height="160" src="https://www.youtube.com/embed/88XQcpU5Vuk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="270" height="160" src="https://www.youtube.com/embed/V4LnorVVxfw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <%= yield %>
  </body>
</html>
